/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'MuseumClassicMediumA';
  src: url('/font/MuseumClassicMediumA.woff2') format('woff2'), url('/font/MuseumClassicMediumA.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cloister';
  src: url('/font/CloisterBlack-Light.woff2') format('woff2'), url('/font/CloisterBlack-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: MuseumClassicMediumA;
  font-size: 30px;
  color: #484848;
}
.home-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/bg@2x.png");
  background-size: cover;
  background-position: center center;
  overflow: auto;
  display: flex;
  padding: 100px 0 50px 0;
}
.home-view > main {
  position: relative;
  width: 1134px;
  height: 624px;
  background-size: cover;
  background-image: url("/images/panel@2x.png");
  margin: auto;
}
.home-view > main > .language {
  position: absolute;
  right: 0;
  top: -54px;
  display: flex;
  font-size: 20px;
}
.home-view > main > .language > a {
  margin-left: 10px;
  display: block;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding: 10px 10px 0;
}
.home-view > main > .language > a.en {
  border: 5px solid #FFBCDD;
}
.home-view > main > .language > a.kr {
  border: 5px solid #FCEA86;
}
.home-view > main > .language > a.jp {
  border: 5px solid #A7CCFF;
}
.home-view > main > h1 {
  font-family: Cloister;
  color: #484848;
  font-size: 70px;
  padding-top: 78px;
  text-align: center;
}
.home-view > main > .content {
  margin-top: 10px;
  display: flex;
  padding: 0 50px;
}
.home-view > main > .content > img {
  width: 378px;
  height: 374px;
}
.home-view > main > .content > .inner {
  padding-top: 50px;
  width: 100%;
}
.home-view > main > .content > .inner > input {
  display: block;
  width: 100%;
  padding-top: 14px;
  height: 41px;
  background-color: rgba(0, 0, 0, 0.16);
  margin-bottom: 14px;
  font-family: MuseumClassicMediumA;
  font-size: 26px;
  color: #484848;
}
.home-view > main > .content > .inner > .buttons:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.home-view > main > .content > .inner > .buttons > a,
.home-view > main > .content > .inner > .buttons > select {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #484848;
  border: none;
  width: 270px;
  height: 72px;
  text-align: center;
  border: 5px solid #FFFFFF;
  border-radius: 36px;
}
.home-view > main > .content > .inner > .buttons > a {
  float: left;
  background-color: rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-view > main > .content > .inner > .buttons > select {
  float: right;
  background-color: rgba(0, 0, 0, 0.16);
}
.home-view > main > .content > .inner > .progress-text-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.home-view > main > .content > .inner > .progress {
  width: 100%;
  height: 41px;
  background-color: rgba(0, 0, 0, 0.16);
}
.home-view > main > .content > .inner > .progress > .progress-bar {
  height: 100%;
  width: 0%;
  background-color: #707070;
}

